/*Roboto regular, bold, medium, black
Raleway bold*/
/*Logo*/
@font-face {
  font-family: "Raleway-Bold";
  src: url(/css/fonts/Raleway-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

/*headers*/
@font-face {
  font-family: "Roboto-Bold";
  src: url(/css/fonts/Roboto-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

/*hero header*/
@font-face {
  font-family: "Roboto-Black";
  src: url(/css/fonts/Roboto-Black.ttf);
  font-style: normal;
  font-weight: 900;
}

/*nav links*/
@font-face {
  font-family: "Roboto-Medium";
  src: url(/css/fonts/Roboto-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}

/*paragraphs*/
@font-face {
  font-family: "Roboto-Regular";
  src: url(/css/fonts/Roboto-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

:root {
  --accent: #2196F3;
  --main-bg: #fff;
  --secondary-bg: #F5F4FA;
  --activity-title-bg: rgba(47, 48, 58, 0.8);
  --main-text: #212121;
  --secondary-text: #757575;
  --light-text: #ffffff;
  --social-links: #AFB1B8;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --footer-bg: #2F303A;
  --footer-social-bg: rgba(255, 255, 255, 0.1);
  --nav-underline: #ECECEC;
  --item-border: #EEEEEE;
}

/*common*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  color: var(--main-text);
  background-color: var(--main-bg);
  font-family: "Roboto-Bold", sans-serif;
  letter-spacing: 0.03em;
}

h1, h2, h3, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--main-text);
}

a:hover {
  cursor: pointer;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto-Medium", sans-serif;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: var(--accent);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--main-text);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-links {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--main-bg);
  color: var(--social-links);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  color: var(--light-text);
  background-color: var(--accent);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.logo {
  display: block;
  font-size: 26px;
  line-height: 1.19;
  font-family: "Raleway-Bold", sans-serif;
}

.logo--accent {
  color: var(--accent);
}

.logo--inverse {
  color: var(--light-text);
}

.btn {
  display: block;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

.btn:hover, .btn:focus {
  cursor: pointer;
}

.main-btn {
  color: var(--light-text);
  background-color: var(--accent);
  line-height: 1.875;
  letter-spacing: 0.06em;
}

.section--padding {
  padding: 94px 0;
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.title--hidden {
  height: 0;
  width: 0;
  margin: 0;
  overflow: hidden;
}

.item-title {
  font-size: 14px;
  line-height: 1.14;
}

/*HEADER*/
.header {
  border-bottom: 1px solid var(--nav-underline);
}

/*******Nav******/
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 85px;
}

.nav__list-item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 14px;
  position: relative;
}

.nav__link--active {
  color: var(--accent);
}

.nav__link--active::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent);
  position: absolute;
  top: 77px;
}

.nav__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.nav__contacts-item {
  margin-right: 30px;
}

.nav__contacts-link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: var(--secondary-text);
}

.nav__contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

/*HEADER END*/
/*MAIN*/
/*Hero section*/
.hero {
  min-height: 600px;
  padding-top: 200px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8))), url(../images/hero/header-desktop-img.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.8)), url(../images/hero/header-desktop-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--light-text);
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto-Black", sans-serif;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.hero__button {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  color: currentColor;
}

/*Features section*/
.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__list-item:not(:last-child) {
  margin-right: 30px;
}

.features__svg-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 100px;
  background-color: var(--secondary-bg);
  margin-bottom: 30px;
}

.features__item-icon {
  height: 70px;
  width: 70px;
  color: currentColor;
}

.features__item-title {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.features__item-text {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text);
}

/*Activities secton*/
.activities__container {
  padding-bottom: 94px;
}

.activities__title {
  margin-bottom: 50px;
}

.activities__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.activities__list-item {
  width: calc((100%-2*30px)/3);
  position: relative;
}

.activities__list-item:not(:last-child) {
  margin-right: 30px;
}

.activities__item-img {
  display: block;
}

.activities__item-title {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: var(--activity-title-bg);
  text-align: center;
  text-transform: uppercase;
  color: var(--light-text);
}

/*Team section*/
.team {
  background-color: var(--secondary-bg);
}

.team__title {
  margin-bottom: 50px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__card {
  width: calc((100%-3*30px)/4);
  padding-bottom: 24px;
  font-size: 16px;
  line-height: 1.19;
  background-color: var(--main-bg);
  text-align: center;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.team__card:not(:last-child) {
  margin-right: 30px;
}

.team__card-img {
  display: block;
  margin-bottom: 30px;
}

.team__card-name {
  margin-bottom: 10px;
  font-family: "Roboto-Medium", sans-serif;
}

.team__card-position {
  margin-bottom: 16px;
  font-family: "Roboto-Regular", sans-serif;
}

/*CLients section*/
.clients__title {
  margin-bottom: 50px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--social-links);
  color: var(--social-links);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover {
  color: var(--accent);
  border: 1px solid var(--accent);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__logo {
  fill: currentColor;
}

/*MAIN END*/
/*FOOTER*/
.footer {
  color: var(--light-text);
  font-family: "Roboto-Regular";
  font-size: 14px;
  line-height: 1.71;
  background-color: var(--footer-bg);
}

.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__contacts-container {
  margin-right: 69px;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__contacts-item {
  margin-bottom: 9px;
}

.footer__address {
  font-style: normal;
}

.footer__contacts-link {
  color: var(--footer-contacts);
}

.footer__action-text {
  display: block;
  margin-bottom: 20px;
  font-family: "Roboto-Bold";
  font-style: normal;
  text-transform: uppercase;
  line-height: 1.14;
}

.footer__social-link {
  color: var(--light-text);
  background-color: var(--footer-social-bg);
}

/*PORTFOLIO*/
.filters {
  margin-bottom: 50px;
}

.filters__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filters__radio-btn {
  width: 0;
  height: 0;
  margin: 0;
}

.filters__btn {
  padding: 6px 22px;
  font-family: "Roboto-Medium", sans-serif;
  line-height: 1.625;
  background-color: var(--secondary-bg);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__radio-btn:checked + .filters__btn, .filters__btn:hover, .filters__btn:focus {
  cursor: pointer;
  outline: none;
  background-color: var(--accent);
  color: var(--light-text);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters__btn:not(:last-child) {
  margin-right: 8px;
}

.projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects__item {
  width: 370px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__item:hover, .projects__item:focus {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.projects__item:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}

.projects__item-preview {
  position: relative;
}

.projects__item-description {
  position: absolute;
  overflow: hidden;
  height: 0;
  width: 100%;
  bottom: 0;
  padding: 0;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--accent);
  color: var(--light-text);
  font-family: "Roboto-Normal", sans-serif;
  font-size: 16px;
  line-height: 1.56;
}

.projects__item:hover .projects__item-description,
.projects__item:focus .projects__item-description {
  height: 100%;
  padding: 63px 24px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__item-img {
  display: block;
}

.projects__item-content {
  padding: 20px 24px;
  border-bottom: 1px solid var(--item-border);
  border-right: 1px solid var(--item-border);
  border-left: 1px solid var(--item-border);
}

.projects__item-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.projects__item-category {
  font-family: "Roboto-Normal", sans-serif;
  color: var(--secondary-text);
  font-size: 16px;
  line-height: 1.875;
}
