.modal-form{
    position: absolute;
    top: 222px;
    left: 0;
    right: 0;
    margin: 0 auto;

    
    &__btn-close{
        position: absolute;
        top: 8px;
        right: 8px;
        height: 30px;
        width: 30px;
        padding: 6px;

        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        
        background-color: var(--main-bg);
        color: var(--main-text);

        &:hover,&:focus{
            outline: none;
            color: var(--accent);
        }
    }
}

.icon-close {
    height: 18px;
    width: 18px;
    fill: currentColor;
}

